:root {
  --primary: #BA4A00;
  --dark: #1C2833;
  --light: #f2f2f2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--dark);
  color: var(--primary);
}
